body{
    font-family: 'San Francisco', Arial, sans-serif;
}
.page{
    background-color: #f5f5f7;
}
.layout-container{
    max-width: 1281px;
    margin: auto;
}
.topnav{
    width: 100%;
    display: flex;
    gap: 12px;
    padding: 10px;
    justify-content: space-between;
}
.topnav a{
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
}
.topnav a:hover {
    background-color: #c2c2c3;
    color: black;
    border-radius: 5px;
}
.topnav a.active{
    background-color: #f4f4f4;
    color: #333333;
}
.welcome-text{
    padding: 10px;
    display: flex;
    flex-direction: row;
    font-size: 28px;
    color: #333333;
}
.form-container{
    display: flex;
    flex-direction: column;
}
.buttonPlacement1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.button1 {
    background-color: #333333 !important;

    display: inline-block;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    background: #fff;
    color: #696969;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 0%);
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;
    text-align: center;
    color: white;
}
.button2 {
    display: inline-block;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    line-height: 70px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    background: #fff;
    color: #696969;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 0%);
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #333333;
    width: 200px;
    height: 70px;
}
.button1 :hover {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
}
.form-container{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-right: 30%;
    margin-left: 30%;
    align-items: center;
}
.form{
    padding: 10px;
}
.product-form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

}
.product-form{
    display: flex;
    flex-direction: row;
}


.coolinput {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    min-width: 330px;

}
.input{
    padding: 10px;
}
.coolinput label.text {
    font-size: 0.75rem;
    color: #9db3f6;
    font-weight: 700;
    position: relative;

}
.coolinput .input {
    width: 100%;
    min-height: 50px;
    font-size: 0.75rem;
    border: 2px #9db3f6 solid;
    border-radius: 5px;
}
.coolinput input[type=text].input:focus {
    outline: none;
}
.products-container{
    position: relative;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}
.product-image{
    border-radius: 20px;
    width: 400px;
    min-width: 400px;
    height: 500px;
    min-height: 500px;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
}
.product-item {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.product-text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    border-radius: 5px;
    color: white;
}
.product-text2 {
    padding: 10px;
    color: #333333;
}
.drop-container {
    background-color: white;
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 226.7px;
    padding: 20px;
    border-radius: 5px;
    border: 2px;
    border: 2px solid #9db3f6;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    width: 297px;
    margin-right: 10px;
}
.drop-container:hover {
    background: #ffffff;
    border-color: #9db3f6;
}
.drop-container:hover .drop-title {
    color: #9db3f6;
}
.drop-title {
    color: #9db3f6;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}
.file-upload-container{
    padding-left: 100px;
}
.parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.orders-to-pack{
    color: #333333;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
    margin-bottom: 20px;
    min-height: 41px;
}

.product-scroll {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    /*background-color: red;*/
    /*margin-right: -700vw;*/
}

.product-scroll::-webkit-scrollbar {
    width: 0;
}
.cart-scroll{
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
.cart-scroll::-webkit-scrollbar{
    width: 0;
}