body{
    font-family: 'San Francisco', Arial, sans-serif;
}
.layout-container{
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
}
.page{
    background-color: #f5f5f7;
    display: flex;
    flex-direction: column;
}
.topnav{
    width: 100%;
    display: flex;
    justify-content: center;
}
.topnav a{
    float: left;
    color: black;
    text-align: center;
    /*padding-bottom: 14px ;*/
    /*padding-top: 14px ;*/
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
}
.topnav a:hover {
    background-color: #c2c2c3;
    color: black;
    border-radius: 5px;
}
.topnav a.active{
    /*background-color: black;*/
    /*color: white;*/
}
.welcome-text{
    padding: 10px;
    display: flex;
    flex-direction: row;
    font-size: 28px;
    color: #333333;
}
.form-container{
    display: flex;
    flex-direction: column;
}
.buttonPlacement1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.button1 {
    display: inline-block;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    background: #fff;
    color: #696969;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 0%);
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #333333;
}
.button2 {
    display: inline-block;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    line-height: 70px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    background: #fff;
    color: #696969;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 0%);
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #333333;
    width: 200px;
    height: 70px;
}
.button1 :hover {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
}
.form-container{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-right: 30%;
    margin-left: 30%;
    align-items: center;
    /*background-color: green;*/
}
.form{
    /*align-items: center;*/
    padding: 10px;
}
.product-form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

}
.product-form{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
/*.input{*/
/*    !*margin-bottom: 10px;*!*/
/*}*/

.coolinput {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    min-width: 330px;

}
.coolinput label.text {
    font-size: 0.75rem;
    color: #9db3f6;
    font-weight: 700;
    position: relative;

}
.coolinput .input {
    width: 100%;
    min-height: 50px;
    padding: 14px 12px;
    font-size: 0.75rem;
    border: 2px #9db3f6 solid;
    border-radius: 5px;
}
.coolinput input[type=text].input:focus {
    outline: none;
}
.products-container{
    position: relative;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}
.product-image{
    border-radius: 20px;
    width: 400px;
    height: 500px;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px;
}
/*.product-text {*/
/*    position: absolute;*/
/*    top: 20px;*/
/*    left: 20px;*/
/*    padding: 10px;*/
/*    border-radius: 5px;*/
/*    color: grey;*/
/*}*/
.product-item {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.product-text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    border-radius: 5px;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    color: white;
}

/*.product-image {*/
/*    border-radius: 20px;*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    object-fit: cover;*/
/*}*/

.drop-container {
    background-color: white;
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 5px;
    border: 2px;
    border: 2px solid #9db3f6;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    width: 255px;
}
.test{
    color: green;
}
.drop-container:hover {
    background: #ffffff;
    border-color: #9db3f6;
}

.drop-container:hover .drop-title {
    color: #9db3f6;
}

.drop-title {
    color: #9db3f6;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}
.file-upload-container{
    padding-left: 100px;
}
.parent{
    display: flex;
    justify-content: center;
}